<app-public-auth-navbar></app-public-auth-navbar>

<!-- Hero Section: Search Bar -->
<section class="hero-section">
  <app-landing-search></app-landing-search>
</section>

<!-- What We Do -->
<section class="what-we-do">
  <app-landing-what-we-do></app-landing-what-we-do>
</section>

<!-- CTA Carousel -->
<section class="cta-carousel">
  <app-landing-card-carousel></app-landing-card-carousel>
</section>

<!-- Job Categories -->
<section class="job-categories"><app-landing-job-categories /></section>

<!-- Footer -->
<footer class="footer">
  <app-footer></app-footer>
</footer>
