@use "../../styles/variables";
@use "../../styles/mixins";

.wrapper {
  width: 1200px;
  margin: auto;
  background-color: white;
  padding: 40px;

  :host ::ng-deep .p-stepper .p-step-header {
    @apply bg-white rounded-full border border-blue-500 text-blue-500 w-10 h-10 flex items-center justify-center;
  }

  :host ::ng-deep .p-stepper .p-step-header.p-highlight {
    @apply bg-blue-600 text-white border-none;
  }

  .upload-container {
    max-width: 600px;
    margin: 0 auto;

    .upload-section {
      margin-bottom: 30px;
    }

    .drop-box {
      background-color: variables.$grey;
      border-radius: 10px;
      padding: 30px;
      text-align: center;
      position: relative;
    }

    button {
      @include mixins.button(white, variables.$primary-color, 207px, 30px);
    }
  }
}
