@use "../../styles/variables";
@use "../../styles/mixins";

.wrapper {
  width: 1200px;
  margin: auto;
  background-color: white;
  padding: 40px;

  .progress-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 120px;
    align-items: center;

    .step {
      width: 30px;
      height: 30px;
      border: 2px solid #d3d3d3;
      border-radius: 50%;
      text-align: center;
      line-height: 26px;
      font-weight: bold;
      color: #19202d;
      position: relative;
    }

    .step.active {
      border-color: variables.$primary-color;
      color: variables.$primary-color;
    }

    .step::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 100%;
      width: 120px;
      height: 2px;
      background-color: #d3d3d3;
      z-index: 1;
    }

    .step:last-child::after {
      display: none;
    }
  }

  .upload-container {
    max-width: 600px;
    margin: 0 auto;

    .upload-section {
      margin-bottom: 30px;
    }

    .drop-box {
      background-color: variables.$grey;
      border-radius: 10px;
      padding: 30px;
      text-align: center;
      position: relative;
    }

    button {
      @include mixins.button(white, variables.$primary-color, 207px, 30px);
    }
  }
}
