<nav class="employer-navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">devJobs</a>
  </div>

  <div class="nav-right">
    <div class="notification">
        <i class="pi pi-bell"></i>
    </div>

    <div class="user-profile">
        <div class="user-name">
            <h4>RM</h4>
        </div>
        
        <div class="dropdown">
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.59 0.294922L6 4.87492L1.41 0.294922L0 1.70492L6 7.70492L12 1.70492L10.59 0.294922Z" fill="#586071"/>
            </svg>
        </div>
    </div>
  </div>
</nav>
