<div class="container">
    <app-sort-filter></app-sort-filter>
    <div class="jobs-list">
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
        <app-job-card></app-job-card>
    </div>
</div>
