.container {
  min-height: 100vh;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: end;

  p{
    padding-right: 1rem;
  }

  @media (max-width: 480px) {
    gap: 2rem;
  }
}

.jobs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 4rem;
  width: 100%;
  justify-items: center;
  padding-bottom: 2rem;


}
