<div class="container">
  <app-sort-filter></app-sort-filter>
  @if (jobs$ | async; as result) {
  @if (result?.data?.content) {
  <p>Showing {{result.data.content.length}} Jobs</p>
  @if(result.data.content.length === 0){
  <app-empty-state [header]="'No jobs posted yet'"></app-empty-state>
  }
  @if(result.data.content.length !== 0){
  <div class="jobs-list">
    @for(job of result.data.content; track job.id) {
    <app-job-card [job]="job"></app-job-card>
    }
  </div>
  }

  }

  }


</div>