<div class="container">
  @if (jobs$ | async; as result) { 
    @if (result?.data?.content) {
      <app-sort-filter></app-sort-filter>
      <p>Showing {{result.data.content.length}} Jobs</p>
  <div class="jobs-list">
      @if(result.data.content.length === 0){
        <app-empty-state [header]="'No jobs posted yet'"></app-empty-state>
      }@else{ @for(job of result.data.content; track job.id) {
    <app-job-card [job]="job"></app-job-card>
  }
  
} 

  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="result.data.totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
} 
}
</div>
