<div class="content">
    @for(item of content ?? []; track $index){

    <div class="requirements">
        <strong>{{item.title}}</strong>
        <p>{{item.description}}</p>

        <!-- <div class="list">
            <ul class="custom-list">
                <li>Experience with React and Node.js</li>
                <li>Strong understanding of web development principles</li>
                <li>Ability to work in a team and independently</li>
            </ul>
        </div> -->
    </div>
    }
    <!-- <div class="todo">
        <strong>What You Will Do</strong>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque. Quisquam
            exercitationem, voluptatum, laboriosam, asperiores incidunt nobis cumque doloremque
            voluptatibus magnam sed unde. Doloribus, cumque. Quisquam exercitationem, voluptatum,
            laboriosam, asperiores incidunt nobis cumque doloremque voluptatibus magnam sed unde.
        </p>

        <div class="list">
            <ol class="custom-ol-list">
                <li>Experience with React and Node.js</li>
                <li>Strong understanding of web development principles</li>
                <li>Ability to work in a team and independently</li>
            </ol>
        </div>
    </div> -->
</div>