<div class="content">
    <div class="requirements">
        <strong>Requirements</strong>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, commodi dolorem! Quam,
            eligendi minima. Quasi dolores esse quam deleniti iste corrupti, earum est modi dignissimos
            cumque quae voluptas blanditiis provident.</p>

        <div class="list">
            <ul class="custom-list">
                <li>Experience with React and Node.js</li>
                <li>Strong understanding of web development principles</li>
                <li>Ability to work in a team and independently</li>
            </ul>
        </div>
    </div>
    <div class="todo">
        <strong>What You Will Do</strong>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque. Quisquam
            exercitationem, voluptatum, laboriosam, asperiores incidunt nobis cumque doloremque
            voluptatibus magnam sed unde. Doloribus, cumque. Quisquam exercitationem, voluptatum,
            laboriosam, asperiores incidunt nobis cumque doloremque voluptatibus magnam sed unde.
        </p>

        <div class="list">
            <ol class="custom-ol-list">
                <li>Experience with React and Node.js</li>
                <li>Strong understanding of web development principles</li>
                <li>Ability to work in a team and independently</li>
            </ol>
        </div>
    </div>
</div>