<main class="employer-sidebar">
    <article>
        <div class="nav-items">
            <a routerLink="/employer/dashboard">
                <section class="nav-section">
                    <i class="pi pi-home" style="align-self: center"></i>
                    <h3 class="sidebar-nav-item">Dashboard</h3>
                </section>
            </a>

            <a routerLink="/employer/jobs">
                <section class="nav-section">
                    <i class="pi pi-home" style="align-self: center"></i>
                <h3 class="sidebar-nav-item">Jobs</h3>
                </section>
            </a>

            <a routerLink="/employer/applications">
                <section class="nav-section">
                    <i class="pi pi-file" style="align-self: center"></i>
                    <h3 class="sidebar-nav-item">Applications</h3>
                </section>
            </a>

            <a routerLink="/employer/settings">
                <section class="nav-section">
                    <i class="pi pi-cog" style="align-self: center"></i>
                    <h3 class="sidebar-nav-item">Settings</h3>
                </section>
            </a>
        </div>


        <div class="logout-div">
            <section class="nav-section">
                <i class="pi pi-sign-out" style="align-self: center"></i>
                <h3 class="sidebar-nav-item">Logout</h3>
            </section>
        </div>
    </article>
</main>