<main class="employer-applications">
    <section class="tabs">
        <div class="tab-item" [class.active]="activeTab === 'incoming'" (click)="setActive('incoming')">
            <h3>Incoming Applications</h3>
        </div>

        <div class="tab-item" [class.active]="activeTab === 'statuses'" (click)="setActive('statuses')">
            <h3>Application Statuses</h3>
        </div>
    </section>
    <hr class="custom-rule"/>

    @if( showSecondActiveTab === true ) {
        <section class="secondTabs">
            <div class="second-tab-item" [class.active]="secondActiveTab === 'reviewed'" (click)="setSecondActiveTab('reviewed')">
                <h3>Reviewed</h3>
            </div>

            <div class="second-tab-item" [class.active]="secondActiveTab === 'interviewed'" (click)="setSecondActiveTab('interviewed')">
                <h3>Interviewed</h3>
            </div>

            <div class="second-tab-item" [class.active]="secondActiveTab === 'rejected'" (click)="setSecondActiveTab('rejected')">
                <h3>Rejected</h3>
            </div>
        </section>
        <hr class="second-custom-rule"/>
    }


    @if( activeTab === 'incoming' && applications.length === 0) {
        <section class="no-applications">
            <app-empty-state [header]="'No application received yet'" 
                             [subHeader]="'Applications received will appear here'" />
        </section>
    }


    @if( activeTab === 'incoming' && applications.length > 0 ) {
        <section class="applications-available">
            <app-data-table [jobsArray]="applications" [columns]="columns" (emitApplication)="handleViewApplicationClicked($event)">
            </app-data-table>
        </section>
    }


    @if( activeTab === 'statuses' && applications.length > 0 ) {
        <section class="applications-available">
            <div class="selected-application">
                <!-- <svg (click)="toggleSecondActiveTab()" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 7H3.83L9.42 1.41L8 0L0 8L8 16L9.41 14.59L3.83 9H16V7Z" fill="#586071"/>
                </svg> -->

                <h3>{{ applicationToViewDetails['Job Title']}}</h3>
            </div>
            <app-application-action-data-table [columns]="applicationActionsColumn" [jobsArray]="applicationDetailsArray" />
        </section>
    }
   






</main>