<div class="wrapper">

    <app-back-button />

    <div class="details-wrapper">
        <div class="company-detail">
            <div class="logo">
                <svg width="107" height="107" viewBox="0 0 107 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0H107V107H4.61873C2.06788 107 0 104.932 0 102.381V0Z" fill="#E99210" />
                </svg>

                <div class="company-name">
                    <h2>Scoot</h2>
                    <p>scoot.com</p>
                </div>
            </div>

            <div class="salary">
                <span>Salary:</span> <span class="value"> $65,000</span>
            </div>

            <button>Company webiste</button>



        </div>

        <div class="job-description">
            <header>
                <div class="row1">
                    <div>5h ago</div>
                    <div class="job-type">
                        <div class="dot"></div>
                        Full Time
                    </div>
                </div>
                <div class="row2">
                    <h1>Senior Software Engineer</h1>

                    <button class="apply-btn" (click)="goToApplicationForm()">Apply now</button>
                </div>

                <div class="row3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_133_1792)">
                            <path
                                d="M12 1.99951C8.13 1.99951 5 5.12951 5 8.99951C5 14.2495 12 21.9995 12 21.9995C12 21.9995 19 14.2495 19 8.99951C19 5.12951 15.87 1.99951 12 1.99951ZM7 8.99951C7 6.23951 9.24 3.99951 12 3.99951C14.76 3.99951 17 6.23951 17 8.99951C17 11.8795 14.12 16.1895 12 18.8795C9.92 16.2095 7 11.8495 7 8.99951Z"
                                fill="#586071" />
                            <path
                                d="M12 11.4995C13.3807 11.4995 14.5 10.3802 14.5 8.99951C14.5 7.6188 13.3807 6.49951 12 6.49951C10.6193 6.49951 9.5 7.6188 9.5 8.99951C9.5 10.3802 10.6193 11.4995 12 11.4995Z"
                                fill="#586071" />
                        </g>
                        <defs>
                            <clipPath id="clip0_133_1792">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>

                    <span>United Kingdom</span>

                </div>
            </header>


            <div class="content">
                <div class="requirements">
                    <strong>Requirements</strong>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, commodi dolorem! Quam,
                        eligendi minima. Quasi dolores esse quam deleniti iste corrupti, earum est modi dignissimos
                        cumque quae voluptas blanditiis provident.</p>

                    <div class="list">
                        <ul class="custom-list">
                            <li>Experience with React and Node.js</li>
                            <li>Strong understanding of web development principles</li>
                            <li>Ability to work in a team and independently</li>
                        </ul>
                    </div>
                </div>
                <div class="todo">
                    <strong>What You Will Do</strong>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, cumque. Quisquam
                        exercitationem, voluptatum, laboriosam, asperiores incidunt nobis cumque doloremque
                        voluptatibus magnam sed unde. Doloribus, cumque. Quisquam exercitationem, voluptatum,
                        laboriosam, asperiores incidunt nobis cumque doloremque voluptatibus magnam sed unde.
                    </p>

                    <div class="list">
                        <ol class="custom-ol-list">
                            <li>Experience with React and Node.js</li>
                            <li>Strong understanding of web development principles</li>
                            <li>Ability to work in a team and independently</li>
                        </ol>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- <button class="default">
        Company
    </button>

    <button class="search">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12.7559 11.2549H11.9659L11.6859 10.9849C12.6659 9.84488 13.2559 8.36488 13.2559 6.75488C13.2559 3.16488 10.3459 0.254883 6.75586 0.254883C3.16586 0.254883 0.255859 3.16488 0.255859 6.75488C0.255859 10.3449 3.16586 13.2549 6.75586 13.2549C8.36586 13.2549 9.84586 12.6649 10.9859 11.6849L11.2559 11.9649V12.7549L16.2559 17.7449L17.7459 16.2549L12.7559 11.2549ZM6.75586 11.2549C4.26586 11.2549 2.25586 9.24488 2.25586 6.75488C2.25586 4.26488 4.26586 2.25488 6.75586 2.25488C9.24586 2.25488 11.2559 4.26488 11.2559 6.75488C11.2559 9.24488 9.24586 11.2549 6.75586 11.2549Z"
                fill="white" />
        </svg>

        Search
    </button>

    <button class="sign">
        Sign up
    </button> -->
</div>