<div
  class="modal-backdrop"
  *ngIf="open"
>
  <div
    class="modal"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modalTitle"
    aria-describedby="modalDesc"
    tabindex="-1"
  >
    <button *ngIf="showClose" class="close-btn" aria-label="Close" (click)="cancel()"><i class="pi pi-times-circle"></i></button>
    <h2 id="modalTitle">{{ title }}</h2>
    <p id="modalDesc">{{ message }}</p>
    <div class="modal-actions">
      <button type="button" class="btn cancel" (click)="cancel()">{{ cancelText }}</button>
      <button type="button" class="btn confirm" [ngClass]="type" (click)="confirm()">{{ confirmText }}</button>
    </div>
  </div>
</div>
