<section class="display-jobs">
    <div class="search-filter">
        <input type="text" class="search-input" [formControl]="filterTerm" placeholder="Filter by title, type, salary...">
        <svg class="search-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.7559 14.2559H14.9659L14.6859 13.9859C15.6659 12.8459 16.2559 11.3659 16.2559 9.75586C16.2559 6.16586 13.3459 3.25586 9.75586 3.25586C6.16586 3.25586 3.25586 6.16586 3.25586 9.75586C3.25586 13.3459 6.16586 16.2559 9.75586 16.2559C11.3659 16.2559 12.8459 15.6659 13.9859 14.6859L14.2559 14.9659V15.7559L19.2559 20.7459L20.7459 19.2559L15.7559 14.2559ZM9.75586 14.2559C7.26586 14.2559 5.25586 12.2459 5.25586 9.75586C5.25586 7.26586 7.26586 5.25586 9.75586 5.25586C12.2459 5.25586 14.2559 7.26586 14.2559 9.75586C14.2559 12.2459 12.2459 14.2559 9.75586 14.2559Z" fill="#586071"/>
        </svg>
    </div>


    <article class="table-wrapper">
        <p-table [columns]="columns" 
                 [value]="filterArray"  
                 [tableStyle]="{'min-width': '50rem'}"
                 responsiveLayout="scroll"
                 [paginator]="true"
                 [rows]="8"
                 [rowsPerPageOptions]="[5, 10, 20]"
                 >
            <ng-template #header>
                <tr>
                    <th *ngFor="let column of columns">
                        {{ column }}
                    </th>
                </tr>
            </ng-template>

            <ng-template #body let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let column of columns" [ngClass]="{ 'blue-action': column === 'Action' }">
                        <!-- Check if current column is 'Status' -->
                        <ng-container *ngIf="column === 'Status'; else defaultCell">
                            <div class="status-cell" (click)="popover.toggle($event)">
                                <div class="status-detail-div" [ngClass]="getStatusDivClass(rowData[column])" >
                                    <span class="status-dot" [ngClass]="getStatusDotClass(rowData[column])">
                                        .
                                    </span>
                                    <span class="status-text" [ngClass]="getStatusTextClass(rowData[column])">
                                        {{ rowData[column] }}
                                    </span>
                                </div>
                                <span class="status-arrow">
                                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.59 8.79688L12 13.3769L7.41 8.79688L6 10.2069L12 16.2069L18 10.2069L16.59 8.79688Z" fill="#586071"/>
                                    </svg>
                                </span>

                                <!-- PrimeNG Popover -->
                                <p-popover #popover>
                                    <div class="popover-wrapper-application-table">
                                    <p 
                                        class="popover-option-application-table" 
                                        *ngFor="let option of statusOptions" 
                                        (click)="handleStatusChange(rowData, option)">
                                        {{ option }}
                                    </p>
                                    </div>
                                </p-popover>
                            </div>
                        </ng-container>


                        <!-- Default cell rendering -->
                        <ng-template #defaultCell>
                            {{ rowData[column] }}
                        </ng-template>

                    </td>
                </tr>

            </ng-template>

        </p-table>
    </article>

</section>



<!-- <ng-container *ngIf="column === 'Action'; else normalCell">
    <div class="ellipsis-btn" (click)="op.toggle($event)">
        <span class="ellipsis-btn">⋮</span>          
        <p-popover #op>
            <div class="popover-wrapper">
                <div class="flex popover-div" (click)="handleViewClicked(rowData)">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 6.5C15.79 6.5 19.17 8.63 20.82 12C19.17 15.37 15.8 17.5 12 17.5C8.2 17.5 4.83 15.37 3.18 12C4.83 8.63 8.21 6.5 12 6.5ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 9.5C13.38 9.5 14.5 10.62 14.5 12C14.5 13.38 13.38 14.5 12 14.5C10.62 14.5 9.5 13.38 9.5 12C9.5 10.62 10.62 9.5 12 9.5ZM12 7.5C9.52 7.5 7.5 9.52 7.5 12C7.5 14.48 9.52 16.5 12 16.5C14.48 16.5 16.5 14.48 16.5 12C16.5 9.52 14.48 7.5 12 7.5Z" fill="currentColor"/>
                    </svg>
                    <p>View<p>
                </div>

                <div class="flex popover-div" (click)="handleEditClicked(rowData)">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.058 9.02L14.978 9.94L5.91805 19H4.99805V18.08L14.058 9.02ZM17.658 3C17.408 3 17.148 3.1 16.958 3.29L15.128 5.12L18.878 8.87L20.708 7.04C21.098 6.65 21.098 6.02 20.708 5.63L18.368 3.29C18.168 3.09 17.918 3 17.658 3ZM14.058 6.19L2.99805 17.25V21H6.74805L17.808 9.94L14.058 6.19Z" fill="currentColor"/>
                    </svg>
                    <p>Edit</p>
                </div>

                <div class="flex popover-div" (click)="handleDeleteClicked(rowData)">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 9V19H8V9H16ZM14.5 3H9.5L8.5 4H5V6H19V4H15.5L14.5 3ZM18 7H6V19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7Z" fill="currentColor"/>
                    </svg>
                    <p>Delete</p>
                </div>
            </div>
        </p-popover>
    </div>

</ng-container> -->


