
<p-card class="job-card" (click)="onCardClick()">

    <div class="job-card__logo">
      <img src="assets/logos/scoot.png" alt={{job.company.companyName}}>
    </div>

  <div class="job-info">
    <div class="job-card__meta">
      <span class="job-card__time">{{job.updatedAt}}</span>
      <span class="job-card__dot"></span>
      <span class="job-card__type">{{job.employmentType}}</span>
    </div>

    <div class="job-card__title">
      {{job.title}}
    </div>

    <div class="job-card__company">
      <i class="pi pi-building job-card__icon"></i>
      {{job.company}}
    </div>

    <div class="loc-and-salary">

      <div class="job-card__location">
        <i class="pi pi-map-marker job-card__icon"></i>
        {{job.location}}
      </div>
  
      <p>{{job.salary}}</p>
    </div>
  </div>
</p-card>