<p-card class="job-card">
  <div class="job-card__header">
    <div class="job-card__logo">
      <span class="job-card__logo-text">b.</span>
    </div>
  </div>
  
  <div class="job-info">
    <div class="job-card__meta">
      <span class="job-card__time">20hr ago</span>
      <span class="job-card__dot"></span>
      <span class="job-card__type">Internship</span>
    </div>

    <div class="job-card__title">
      Haskell and PureScript Dev
    </div>
  
    <div class="job-card__company">
      <i class="pi pi-building job-card__icon"></i>
      Blogr
    </div>
  
    <div class="job-card__location">
      <i class="pi pi-map-marker job-card__icon"></i>
      United States
    </div>
  </div>
</p-card> 