@use './_variables' as *;


@mixin regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #19202d;
}

@mixin header1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
@mixin header2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
@mixin header3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
@mixin header4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
@mixin bodyB1Active {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: $primary-color;
}
@mixin bodyB1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #19202d;
}