@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

$font-family: "Kumbh Sans", sans-serif;

//colors
$body-bg: #f4f6f8;
$primary-color: #5964e0;
$btn-light-blue: #eff0fc;
$grey: #f4f6f8;
$error: #dc3545;
