<main class="job-modal-section">
    <section class="modal">
        <div class="modal-header">
            <h3>Create new job</h3>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.47 2 2 6.47 2 12C2 17.53 6.47 22 12 22C17.53 22 22 17.53 22 12C22 6.47 17.53 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41L15.59 7Z" fill="#586071"/>
            </svg>
        </div>


        <section class="stepper-section">
            @if( currentStep === 1 ) {
                <div class="stepper-header">
                    <h3>Step 1 of 2</h3>
                    <div>
                        <p-button label="Next" (onClick)="goNext()" />
                    </div>
                </div>
            }
            @if ( currentStep === 2 ) {
                <div class="stepper-header">
                    <p-button label="Previous" (onClick)="goBack()" />
                    <h3>Step 2 of 2</h3>
                    <div>
                        <p-button label="Post" (onClick)="postJob()" />
                    </div>
                </div>
            }

            <p-stepper [(value)]="currentStep" class="basis-[50rem]">
                <p-step-panels>
                    <p-step-panel [value]="1">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="first-form-page">
                                <form [formGroup]="firstJobForm">
                                    <div class="form-input-div">
                                        <label>Job title</label>
                                        <input type="text" placeholder="Job title here" class="job-form-input">
                                        <small class="error-message" 
                                               *ngIf="firstJobForm.get('jobTitle')?.invalid && (firstJobForm.get('jobTitle')?.touched || firstJobForm.get('jobTitle')?.dirty)">
                                            Job title is required
                                        </small>
                                    </div>

                                    <div class="form-input-div">
                                        <label>Job type</label>
                                        <select class="job-form-input job-input-select">
                                            <option value="0">Select job type</option>
                                            <option value="1">Part time</option>
                                            <option value="2">Full time</option>
                                            <option value="3">Contract</option>

                                            <span class="custom-arrow">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16.59 8.29492L12 12.8749L7.41 8.29492L6 9.70492L12 15.7049L18 9.70492L16.59 8.29492Z" fill="currentColor"/>
                                                </svg>
                                            </span>
                                        </select>
                                        <small class="error-message" 
                                               *ngIf="firstJobForm.get('jobType')?.touched && firstJobForm.get('jobType')?.invalid">
                                            Job type is required
                                        </small>
                                    </div>

                                    <div class="form-input-div svg-display">
                                        <label>Salary</label>
                                        <input type="text" placeholder="Job title here" class="job-form-input-svg">
                                        
                                        <svg class="svg-icon-dollar" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM12.89 11.1C11.11 10.51 10.25 10.14 10.25 9.2C10.25 8.18 11.36 7.81 12.06 7.81C13.37 7.81 13.85 8.8 13.96 9.15L15.54 8.48C15.39 8.04 14.72 6.57 12.88 6.25V5H11.13V6.26C8.53 6.82 8.51 9.11 8.51 9.22C8.51 11.49 10.76 12.13 11.86 12.53C13.44 13.09 14.14 13.6 14.14 14.56C14.14 15.69 13.09 16.17 12.16 16.17C10.34 16.17 9.82 14.3 9.76 14.08L8.1 14.75C8.73 16.94 10.38 17.53 11.12 17.71V19H12.87V17.76C13.39 17.67 15.89 17.17 15.89 14.54C15.9 13.15 15.29 11.93 12.89 11.1Z" fill="#586071"/>
                                        </svg>

                                        <small class="error-message" 
                                               *ngIf="firstJobForm.get('salary')?.touched && firstJobForm.get('salary')?.invalid">
                                            Company name is required
                                        </small>
                                    </div>

                                    <div class="form-input-div">
                                        <label>Company name</label>
                                        <input type="text" placeholder="Job title here" class="job-form-input">
                                        <small class="error-message" 
                                               *ngIf="firstJobForm.get('companyName')?.touched && firstJobForm.get('companyName')?.invalid">
                                            Location is required
                                        </small>
                                    </div>

                                    <div class="form-input-div svg-display">
                                        <label>Location</label>
                                        <input type="text" placeholder="Job title here" class="job-form-input-svg">
                                        <svg class="svg-icon-dollar" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2C8.13 2 5 5.13 5 9C5 14.25 12 22 12 22C12 22 19 14.25 19 9C19 5.13 15.87 2 12 2ZM7 9C7 6.24 9.24 4 12 4C14.76 4 17 6.24 17 9C17 11.88 14.12 16.19 12 18.88C9.92 16.21 7 11.85 7 9Z" fill="#586071"/>
                                        <path d="M12 11.5C13.3807 11.5 14.5 10.3807 14.5 9C14.5 7.61929 13.3807 6.5 12 6.5C10.6193 6.5 9.5 7.61929 9.5 9C9.5 10.3807 10.6193 11.5 12 11.5Z" fill="#586071"/>
                                        </svg>
                                        <small class="error-message" 
                                               *ngIf="firstJobForm.get('location')?.touched && firstJobForm.get('location')?.invalid">
                                            Location is required
                                        </small>
                                    </div>

                                </form>
                            </div>
                        </ng-template>
                    </p-step-panel>

                    <p-step-panel [value]="2">
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="second-form-page">
                                <h3>Job details/Requirements</h3>
                                <form [formGroup]="secondJobForm" class="second-job-form">
                                    <div formArrayName="additionalJobDetails">

                                        <div *ngFor="let group of getAdditionalJobData.controls; let i = index" [formGroupName]="i" class="field-group">
                                            
                                            <div class="form-input-div show-delete-control">
                                                <label>Title</label>
                                                <input type="text" formControlName="title" placeholder="Job title here" class="job-form-input">
                                                <small class="error-message" *ngIf="group.get('title')?.touched && group.get('title')?.invalid">
                                                    Title is required
                                                </small>
                                           
                                                <div class="actions-div" (click)="deleteAdditionalJobData(i)" *ngIf="i > 0">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M6 19.1152C6 20.2152 6.9 21.1152 8 21.1152H16C17.1 21.1152 18 20.2152 18 19.1152V7.11523H6V19.1152ZM19 4.11523H15.5L14.5 3.11523H9.5L8.5 4.11523H5V6.11523H19V4.11523Z" fill="#DC3545"/>
                                                    </svg>
                                                </div>
                                            </div>

                                            <div class="form-input-div">
                                                <label>Description</label>
                                                <textarea rows="10" formControlName="description" placeholder="Job title here" class="job-form-textarea"></textarea>
                                                <small class="error-message" *ngIf="group.get('description')?.touched && group.get('description')?.invalid">
                                                    Description is required
                                                </small>
                                            </div>
                               
                                         </div>                                     
                                    </div>

                                    
                                    <div class="add-more-btn-div">
                                        <button type="button" (click)="addAdditionalJobData()" class="add-more-btn">
                                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.5 7H11.5V11H7.5V13H11.5V17H13.5V13H17.5V11H13.5V7ZM12.5 2C6.99 2 2.5 6.49 2.5 12C2.5 17.51 6.99 22 12.5 22C18.01 22 22.5 17.51 22.5 12C22.5 6.49 18.01 2 12.5 2ZM12.5 20C8.09 20 4.5 16.41 4.5 12C4.5 7.59 8.09 4 12.5 4C16.91 4 20.5 7.59 20.5 12C20.5 16.41 16.91 20 12.5 20Z" fill="#5964E0"/>
                                            </svg>

                                            <h3>Add more</h3>
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </ng-template>
                    </p-step-panel>

                </p-step-panels>
            </p-stepper>
            
        </section>
        


    </section>
</main>