<div class="categories-wrapper">
  <h2>Popular Job Categories</h2>

  <div class="carousel-container" #carousel>
    <div class="card" *ngFor="let card of cards">
      <img [src]="card.image" alt="Category image" />
      <div class="card-content">
        <h3>{{ card.title }}</h3>
        <p>{{ card.description }}</p>
        <div class="author">
          <mat-icon>person</mat-icon>
          <span>Author: {{ card.author }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <button mat-icon-button (click)="scroll(carousel, 'left')">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button (click)="scroll(carousel, 'right')">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
