/* You can add global styles to this file, and also import other style files */
@use "./app/styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: variables.$font-family;
  background-color: variables.$body-bg;
  color: #19202d;
  box-sizing: border-box;
}
