/* You can add global styles to this file, and also import other style files */

//import Kumbh Sans
@use "./app/styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: $font-family;
  overflow-x: hidden;
  background-color: variables.$body-bg;
  color: #19202d;
}
