<nav class="auth-navbar">
    <div class="nav-left">
      <a routerLink="/" class="logo">devJobs</a>
    </div>
  
    <ul class="nav-center">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/search">Start a Search</a></li>
      <li><a routerLink="/jobs">Jobs List</a></li>
      <li><a routerLink="/salary-estimate">Salary Estimate</a></li>
    </ul>
  
    <div class="nav-actions">
      <i class="pi pi-bell nav-icon"></i>
      <span class="profile-circle">RM</span>
      <i class="pi pi-chevron-down nav-icon"></i>
    </div>
    
  </nav>
  