<main class="employer-dashboard dashboard-component">
    <h2 class="page-title">Home</h2>

    <section class="stats-grid">
        <app-stats-card [title]="'Total jobs'" [count]="totalJobsCount" [month]="'+20 This month'" [today]="'+2 Today'"  class="card card-1" />
        <app-stats-card [title]="'Applied'" [count]="appliedApplicationsCount" [month]="'+20 This month'" [today]="'+5 Today'" class="card card-2"/>
        <app-stats-card [title]="'Rejected'" [count]="rejectedApplicationsCount" [month]="'+20 This month'" [today]="'+1 Today'" class="card card-3"/>
        <app-stats-card [title]="'Reviewed'" [count]="reviewedApplicationsCount" [month]="'+20 This month'" [today]="'+2 Today'" class="card card-4"/>
        <app-stats-card [title]="'Interviewed'" [count]="interviewedApplicationsCount" [month]="'+20 This month'" [today]="'+4 Today'" class="card card-5" />
    </section>


    <section class="incoming-applications">
        <h3>Recent Incoming Applications</h3>
        <p >See all</p>
    </section>


    @if( applicationsArray.length > 0 ) {
        <section class="table-display">
            <app-data-table [columns]="columns" [jobsArray]="applicationsArray" />
        </section>
    }

    
    @if( applicationsArray.length === 0 ) {
        <section class="table-display">
            <h3>No applications yet – hang tight, the right candidates may be on their way!</h3>
        </section>
    }


    @if( modalService.showJobDetailsFormModal ) {
        <app-job-details-modal />
    }


</main>