<main class="employer-dashboard dashboard-component">
    <h2 class="page-title">Home</h2>

    <section class="stats-grid">
        <app-stats-card [title]="'Total jobs'" [count]="50" [month]="'+20 This month'" [today]="'+2 Today'"  class="card card-1" />
        <app-stats-card [title]="'Applied'" [count]="50" [month]="'+20 This month'" [today]="'+2 Today'" class="card card-2"/>
        <app-stats-card [title]="'Rejected'" [count]="50" [month]="'+20 This month'" [today]="'+2 Today'" class="card card-3"/>
        <app-stats-card [title]="'Reviewed'" [count]="50" [month]="'+20 This month'" [today]="'+2 Today'" class="card card-4"/>
        <app-stats-card [title]="'Interviewed'" [count]="50" [month]="'+20 This month'" [today]="'+2 Today'" class="card card-5" />
    </section>


    <section class="incoming-applications">
        <h3>Recent Incoming Applications</h3>
        <p >See all</p>
    </section>


    <section class="table-display">
        <app-data-table [columns]="columns" [jobsArray]="jobsArray" />
    </section>


    @if( modalService.showJobDetailsFormModal ) {
        <app-job-details-modal />
    }


    <!-- <td (click)="openJobDetailsModalForm()">{{ application.action }}</td> -->




</main>