<app-seeker-nav></app-seeker-nav>
<div class="header-img">

  <img src="assets/blue-bg.png" alt="background image" />
</div>
<main class="container fixed-navbar-padding">
  @if(search){

  <div class="tabs-and-search">
    <div class="tabs">
      <a [routerLink]="['/seeker/dashboard/jobs']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Job Search
      </a>
      <a [routerLink]="['/seeker/dashboard/application-status']" routerLinkActive="active">
        Application Status
      </a>
    </div>
    @if(showSearch$ | async){
    <div class="search">
      <app-search></app-search>
    </div>
    }
  </div>
  }

  <div class="page" [ngStyle]="{ 'margin-top': search ? '' : '70px' }">
    <router-outlet></router-outlet>
  </div>
</main>