<nav class="auth-navbar">
  <div class="nav-left">
    <a routerLink="/" class="logo">devJobs</a>
  </div>

  <ul class="nav-center">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/search">Start a Search</a></li>
    <li><a routerLink="/jobs">Jobs List</a></li>
    <li><a routerLink="/salary-estimate">Salary Estimate</a></li>
    <li><a routerLink="/employer">Employer?</a></li>
  </ul>

  <div class="nav-right">
    <button mat-button routerLink="/login">Login</button>
    <button mat-flat-button color="primary" routerLink="/register">
      Sign Up
    </button>
  </div>
</nav>
